*
{
        font-family:  Verdana, Tahoma,  Helvetica, sans-serif;
        font-size: 12px; 
        margin: 0px; 
        padding: 0px; 
}

body {
        padding: 0px; 
        margin: 0.5em; 
	border-style: solid;
        border-width: 0px;        /* sets border width on all sides */
        border-color: black;
}

div {
        padding: 0px; 
        margin: 0px; 
	border: 0px solid green;
}

div#unauth {
    top: 2em;
    font-size: 16px;
    font-weight: bold;
    height: 1.5em;
}

span {
	padding: 0em;
}

span.selected {
    font-size: 14px;
    background: white;
    color: blue;
    font-weight: bold;
    margin: 0.2em;
}

span.selected:hover {
    text-decoration: underline;
}

span.unselected {
    font-size: 14px;
    background: blue;
    color: rgb(255,255,255);
    font-weight: bold;
    margin: 0.2em;
}

span.unselected:hover {
    text-decoration: underline;
}

span.date {
    font-size: 14px;
    float: right;
    color: black;
    font-weight: bold;
    margin-right: 1em;
}

span#username {
    font-size: 14px;
    float: right;
    color: black;
    font-weight: bold;
    margin-right: 1em;
}

div#menu {
    width: 100%;
    height: 1.5em;
    padding: 0.2em;
    background: #e2e2e1;
    border: 0px solid blue;
    margin-bottom: 1em;
}
a.selected {
    color: blue;
    background: white;
    border: 2px solid white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.1em 0.2em;
}

a.selected:hover {
    border: 2px solid blue;
}

a.unselected {
    color: blue;
    background: white;
    border: 2px solid white;
    text-decoration: none; 
    font-weight: bold;
    font-size: 14px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.1em 0.2em;
}

a.unselected:hover {
    border: 2px solid blue;
}

span#menu_auth {
    float: right;
    margin-right: 1em;
}
